<h3>Are you Sure?</h3>
<div class="container">
   <div class="blog-details">

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>

  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
 <div class="blog_title">
  <p>Tittle:<%= @blog.title %></p>
  <p>Content:<%= @blog.content %></p>
  <button type="submit" class="btn btn-default">Done</button>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <button type="submit" class="btn btn-default">Back</button>
<% end %>
   </div>
   </div>
</div>
