<!DOCTYPE html>
<html>
<head>
  <title>Bootstrapシリーズ課題</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Blog Menu</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%=link_to "Hone", root_path %></li>
        <li><%=link_to "Index",blogs_path %></li>
    </div>
  </div>
  </nav>
  </header>

<%= yield %>

  <footer>
    <p>2018 Copyright tobytack</p>
  </footer>

</body>
</html>